<template>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold">Instances Detected: {{ count }}</h4>
    </div>
    <div class="card-body">
      <ul class="list-group liststyle">
        <li
          class="list-group-item justify-content-between align-items-center"
          v-for="item in items"
          v-bind:key="item.id"
        >
          Number: {{ item.id }}
          <ul class="list-group pointstyle">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              v-for="point in item.points"
              v-bind:key="point.cellid"
            >
              <span class="col-2">CELL_ID: {{ point.cellid }}</span>
              <span class="badge badge-warning p-1">{{ point.apn }}</span>

              <span class="col-2">Value: {{ point.value }}</span>

              <span class="badge badge-primary badge-pill">Density : {{ point.density }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component Monted");
  },
  props: ["items", "count"]
};
</script>

<style scoped>
.liststyle {
  border: 3px solid #ccc;
}
.liststyle li {
  font-size: 14px;
  padding: 1px 10px;
  border: 3px solid #ccc;
}
.pointstyle li {
  font-size: 12px;
  border: none;
  border-top: #ccc 1px solid;
}
.pointstyle li:hover {
  background-color: rgb(205, 212, 210);
  cursor: pointer;
}
</style>
